[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyodbc = "*"
psycopg2 = "*"

[packages]
requests = "*"
faust-streaming = "*"
loguru = "*"
asyncpg = "*"

[requires]
python_version = "3.7"
